{% trans_default_domain 'FOSUserBundle' %}
<div class="container row mg-top">
    <div class="col s12 m6 offset-m3 labado-item-container">
        <h5 class="center-align">UPDATE PROFILE</h5>
        {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
            {{ form_widget(form) }}
            <div>
                <input class="btn" type="submit" value="{{ 'profile.edit.submit'|trans }}" />
            </div>
        {{ form_end(form) }}
    </div>
</div>