
<div class="loading_container">
    <div class="row">
        <img src="{{ asset('images/loading_location.gif') }}"/>
    </div>
    <div class="row">
        <h5 class="flow-text">Detecting your location</h5>
    </div>
</div>