<div class="card horizontal">
    <div class="card-image">
        <img src="{{asset('images/unable_to_locate.png')}}" > 
    </div>
    <div class="card-stacked">
        <div class="card-content">
            <p>Having trouble detecting your location. Maybe your GPS is turned-off or there's a problem to the server</p>
        </div>
        <div class="card-action">
            <a href="#" class="waves-effect waves-light indigo btn">Retry</a>
        </div>
    </div>
</div>
