{% extends "::base.html.twig" %}

{% block title %}CodingAvenueLabadoSystemBundle:DetermineLabadoer:index{% endblock %}

{% block body %}
<h1>Welcome to the DetermineLabadoer:index page</h1>
{% endblock %}
