{% extends 'base.html.twig' %}

{% block title %}Labado{% endblock %}

{% block stylesheets %}
    <style>
        .PButton {
            text-align: center;
        }

        img {
            width: 256px;
            height: 256px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col s12">
                <ul id = "laundryList" class="collapsible popout" data-collapsible="accordion">               
                </ul>
            </div>
        <div>
    </div>
    {% block javascript %}
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBAdrxzUzgYziv65MWKe0kBMozvMQTGf58&libraries=places"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
    
        if(navigator.geolocation){
            var opt = {
                enableHighAccuracy: true,
                timeout: Infinity,
                maximumAge: 0
            };
        
            navigator.geolocation.watchPosition(success, failure, opt);
        }       
       
        var map,service,display="";
        var list = [];
        var lastIndex = 0;
        var limit = 5;

        function success(position){
            var mylat = position.coords.latitude;
            var mylong = position.coords.longitude;
            var coords = new google.maps.LatLng(mylat,mylong);
            
            var mapOptions = {
                zoom: 20,
                center: coords,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            }
            map = new google.maps.Map(document.createElement('div'));    
            service = new google.maps.places.PlacesService(map);
            var req = {
                location: coords,
                radius: 800,
                types: ['laundry'],                
            };
            service.nearbySearch(req, callback); 
            
        }

        function renderList(laundry_shops){
            var ul_id = $('#laundryList');            
                laundry_shops.map(function(laundry){                    
                    var row = "<li><div class=\"collapsible-header\"><i class=\"material-icons\">local_laundry_service</i>"+laundry.name+"</div></li>";
                    ul_id.append(row);
                });                
        }

        function callback(results, status){                  
            if(status == google.maps.places.PlacesServiceStatus.OK){
                list = results;          
                renderList(results);                        
                               
            }
        }

        function failure(){
            $('#laundryList').html("<p>Unable to locate.</p>");
        }  

    </script>
    {% endblock %}
{% endblock %}
