{% extends 'base.html.twig' %}

{% block title %}Labado{% endblock %}

{% block stylesheets %}
    <style>
        .PButton {
            text-align: center;
        }

        img {
            width: 256px;
            height: 256px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col s12">
                <ul id = "laundryList" class="collapsible popout" data-collapsible="accordion">               
                </ul>
            </div>
        <div>
    </div>
    {% block javascript %}
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBAdrxzUzgYziv65MWKe0kBMozvMQTGf58&libraries=places"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        if(navigator.geolocation){
            var opt = {
                enableHighAccuracy: true,
                timeout: Infinity,
                maximumAge: 0
            };
        
            navigator.geolocation.watchPosition(success, failure, opt);
        }       
       
        var map,service,jsonTxt="",full_address,display="";
        var list = [];
        var lastIndex = 0;
        var limit = 5;

        function success(position){
            var mylat = position.coords.latitude;
            var mylong = position.coords.longitude;
            var coords = new google.maps.LatLng(mylat,mylong);
            
            var mapOptions = {
                zoom: 20,
                center: coords,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            }
            map = new google.maps.Map(document.createElement('div'));    
            service = new google.maps.places.PlacesService(map);
            var req = {
                location: coords,
                radius: 800,
                types: ['laundry'],                
            };
            service.nearbySearch(req, callback); 
            
            //document.getElementById("laundryList").innerHTML=display;                           
        }

        function failure(){
            $('#listLaundry').html("<p>Unable to locate.</p>");
        }  

        function getDetails()
        { 
            
            var currentLimit = ((lastIndex + limit) > list.length) ?
                (list.length - lastIndex) :
                limit;

            for (var i = 0; i < currentLimit; i++){
                var index = i + lastIndex;
                var requestDetails = {reference : list[index].reference};
                var getList = service.getDetails(requestDetails, checkDetailedStatus);                                  
                
            }                                                                            
            
            lastIndex += limit;

            if (lastIndex < list.length) {
                window.setTimeout('getDetails()', 2000);                
            } 
        }
        
        function checkDetailedStatus(details, detailStatus) {            
            var z = 0
            if (detailStatus == google.maps.places.PlacesServiceStatus.OK) {
                var row="";
                full_address = [{ 
                    website:details.icon,
                    name:details.name,
                    address:details.formatted_address,
                    phone:details.formatted_phone_number
                }];
                jsonTxt = JSON.stringify(full_address);                
                console.log(jsonTxt);
               
                    row += "<li>"+
                        "<div class=\"collapsible-header\"><i class=\"material-icons\">local_laundry_service</i>"+details.name+"</div>"+
                        "<div class=\"collapsible-body\">"+
                            "<div class=\"row\">"+
                                //<div class="col s12 m4"><img src="{{ asset('images/TheLaundryShop.jpg') }}"/></div>
                                "<div class=\"col s12 m8\">"+
                                    "<span>"+
                                        "<h4 id=\"name\">"+details.name+"</h4>"+
                                        "<p id=\"address\">"+details.formatted_address+"</p>"+
                                        "<p id=\"distance\">506 meters</p>"+
                                        "<p id=\"contact_number\">"+details.formatted_phone_number+"</p>"+
                                    "</span>"+
                                "</div>"+
                            "</div>"+
                            "<div class=\"row\">"+
                                "<div class=\"col s12\">"+
                                    "<span>"+
                                        "<h5>Rates</h5>"+
                                        "<ul>"+
                                            "<li>Clothes - 25/kg</li>"+
                                            "<li>Jeans - 30/kg</li>"+
                                            "<li>Bedsheets - 40/kg</li>"+
                                        "</ul>"+
                                    "</span>"+
                                "</div>"+
                            "</div>"+
                            "<div class=\"row\">"+
                                "<div class=\"col s12 m4 l2\"></div>"+
                                "<div class=\"col s12 m4 l8\"><p class=\"PButton\"><a class=\"waves-effect waves-light btn blue\">Choose</a></p></div>"+
                                "<div class=\"col s12 m4 l2\"></div>"+
                            "</div>"+
                        "</div>"+
                    "</li>";                                           
                     z++;
                    display+= row;                    
            }
              
        }

        function callback(results, status){
            //row = ""; 
            var y =0;
            //console.log(status);
            if(status == google.maps.places.PlacesServiceStatus.OK){
                list = results;
                
                window.setTimeout('getDetails()', 2000);
                document.getElementById("laundryList").innerHTML=display;                           
            }

        }
        
    </script>
    {% endblock %}
{% endblock %}
