{% extends 'base.html.twig' %}

{% block title %}Labado{% endblock %}

{% block stylesheets %}
    <style>
        .PButton {
            text-align: center;
        }

        img {
            width: 256px;
            height: 256px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col s12">
                <ul class="collapsible popout" data-collapsible="accordion">
                    <li>
                        <div class="collapsible-header"><i class="material-icons">local_laundry_service</i>The Laundry Shop</div>
                        <div class="collapsible-body">
                            <div class="row">
                                <div class="col s12 m4"><img src="{{ asset('images/TheLaundryShop.jpg') }}"/></div>
                                <div class="col s12 m8">
                                    <span>
                                        <h4 id="name">The Laundry Station</h4>
                                        <p id="address">Banilad, Cebu City</p>
                                        <p id="distance">506 meters</p>
                                        <p id="contact_number">+639324464121 / 754-3010</p>
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12">
                                    <span>
                                        <h5>Rates</h5>
                                        <ul>
                                            <li>Clothes - 25/kg</li>
                                            <li>Jeans - 30/kg</li>
                                            <li>Bedsheets - 40/kg</li>
                                        </ul>
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 m4 l2"></div>
                                <div class="col s12 m4 l8"><p class="PButton"><a class="waves-effect waves-light btn blue">Choose</a></p></div>
                                <div class="col s12 m4 l2"></div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">local_laundry_service</i>Wash and Dry Laundry</div>
                        <div class="collapsible-body">
                            <div class="row">
                                <div class="col s12 m4"><img src="{{ asset('images/WashAndDry.jpg') }}"/></div>
                                <div class="col s12 m8">
                                    <span>
                                        <h4 id="name">Wash and Dry Laundry</h4>
                                        <p id="address">Mandaue, Cebu City</p>
                                        <p id="distance">732 meters</p>
                                        <p id="contact_number">+639324464121 / 754-3010</p>
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12">
                                    <span>
                                        <h5>Rates</h5>
                                        <ul>
                                            <li>Clothes - 29/kg</li>
                                            <li>Jeans - 35/kg</li>
                                            <li>Bedsheets - 40/kg</li>
                                        </ul>
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 m4 l2"></div>
                                <div class="col s12 m4 l8"><p class="PButton"><a class="waves-effect waves-light btn blue">Choose</a></p></div>
                                <div class="col s12 m4 l2"></div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">local_laundry_service</i>Laundry Land</div>
                        <div class="collapsible-body">
                            <div class="row">
                                <div class="row">
                                <div class="col s12 m4"><img src="{{ asset('images/LaundryLand.jpg') }}"/></div>
                                <div class="col s12 m8">
                                    <span>
                                        <h4 id="name">Laundry Land</h4>
                                        <p id="address">Capitol, Cebu City</p>
                                        <p id="distance">804 meters</p>
                                        <p id="contact_number">+639324464121 / 754-3010</p>
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12">
                                    <span>
                                        <h5>Rates</h5>
                                        <ul>
                                            <li>Clothes - 24/kg</li>
                                            <li>Jeans - 29/kg</li>
                                            <li>Bedsheets - 35/kg</li>
                                        </ul>
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 m4 l2"></div>
                                <div class="col s12 m4 l8"><p class="PButton"><a class="waves-effect waves-light btn blue">Choose</a></p></div>
                                <div class="col s12 m4 l2"></div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">local_laundry_service</i>Labado Super Laundry Shop</div>
                        <div class="collapsible-body">
                            <div class="row">  
                                <div class="row">
                                <div class="row">
                                <div class="col s12 m4"><img src="{{ asset('images/Labado.jpg') }}"/></div>
                                <div class="col s12 m8">
                                    <span>
                                        <h4 id="name">Labado Super Laundry Shop</h4>
                                        <p id="address">Oakridge, AS Forturna, Cebu City</p>
                                        <p id="distance">10 meters</p>
                                        <p id="contact_number">+639324464121 / 754-3010</p>
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12">
                                    <span>
                                        <h5>Rates</h5>
                                        <ul>
                                            <li>Clothes - &#36 500/kg</li>
                                            <li>Jeans - &#36 550/kg</li>
                                            <li>Bedsheets - &#36 650/kg</li>
                                        </ul>
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 m4 l2"></div>
                                <div class="col s12 m4 l8"><p class="PButton"><a class="waves-effect waves-light btn blue">Choose</a></p></div>
                                <div class="col s12 m4 l2"></div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        <div>
    </div>
{% endblock %}