<section class="page-title ptb-50">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Unable to Detect Location</h2>
				<ol class="breadcrumb">
					<li><a href="{{ path('homepage') }}">Home</a></li>
					<li class="active">404</li>
				</ol>
			</div>
		</div>
	</div>
</section>

<section class="error-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-sm-5">
				<i class="fa fa-ban"></i>
			</div>
			
			<div class="col-sm-7">
				<div class="error-info">
					<h1 class="mb-30">404</h1>
					<span class="error-sub">OOPS! UNABLE TO DETECT YOUR LOCATION</span>

					<p>Maybe your GPS is turned-off or there's a problem to the server</p>
					<a href="{{ path('search') }}" id="retry-button" class="waves-effect waves-light btn z-depth-3">Retry</a>
					<a href="javascript:;" id="manual-button" class="waves-effect teal btn z-depth-3">Set</a>
				</div>
			</div>
		</div>
	</div>
</section>