{% extends "::base.html.twig" %}

{% block title %}CodingAvenueLabadoBundle:BookingRequest:checkStatus{% endblock %}

{% block body %}
    <h1>Welcome to the BookingRequest:checkStatus page</h1>
{% endblock %}
