{% extends "::base.html.twig" %}

{% block title %}Finding You a Labadoer{% endblock %}

{% block body %}
    <div id="main-view" class="container mg-top">
        <div class="row labado-img-loader center-align">
            <img src="{{ asset('images/loading_location.gif') }}"/>
            <label class="loading-message">Finding you a Labadoer</h5>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        var id = "{{BookingRequestId}}";
    </script>
    <script type="text/javascript" src="{{ asset('js/BookingRequest/findLabadoer.js') }}"></script>
{% endblock %}
