{% extends "base.html.twig" %}
{% block stylesheets %}
<link href="{{ asset('css/registration.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}
	{% block fos_user_content %}
		{% include "@FOSUser/Registration/register_content.html.twig" %}
	{% endblock fos_user_content %}
{% endblock body %}
{% block javascripts %}
<script>
{% if errors %}
	var str = "";
	{% for error in errors %}
		str += "<li>{{error}}</li>";
	{% endfor %}
	$('#ErrorMessage').css("display","block");
	$("#ErrorMessage").html(str);
{% endif %}
</script>
<script src="{{ asset('js/ErrorHandling/registration.js') }}">
	
</script>
{% endblock %}