.loading_container, .loading_container img, .loading_container div, .loader {
    margin: auto auto;
    text-align: center;
}

.loading_container img {
    max-width: 500px;
    width: 100%;
}

#stuff-container {
    margin-top: 20px;
}

#unable-to-detect img {
    max-width: 100px;
}

#unable-to-detect {
    padding-top: 20px;
    box-shadow: 1px 1px 1px black;
}

.laundry-shop-detail img {
    text-align: center;
    max-width: 120px;
    width: 100%;
}
#vici {
   font-size: 10px; 
}

p span {
    display: block;
}