{% extends "::base.html.twig" %}

{% block title %}CodingAvenueLabadoBundle:Booking:index{% endblock %}

{% block stylesheets %}
<link href="{{ asset('css/booking.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container mg-top">
        <div class="booking-container">
            <h5 class="center-align">Your labadoer</h5>
            <div>
                <b>Name:</b> {{ labadoer.name }} 
            </div>
            <div>
                <b>Contact Number:</b> {{ labadoer.contactNumber }}
            </div>
        </div>
    </div>
{% endblock %}
