{% trans_default_domain 'FOSUserBundle' %}

<div class="container row mg-top">
    <div class="col s12 m6 offset-m3 change-password-container">
        <h5 class="center-align">CHANGE PASSWORD</h5>
            {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
                {{ form_widget(form) }}
                <div>
                    <input class="btn right" type="submit" value="CHANGE" />
                </div>
            {{ form_end(form) }}
    </div>
</div>
